/*========== Common Styles ==============*/
.hide {
  display: none; }

.nav-toggle {
  display: none; }

body {
  font-family: "Lato", sans-serif;
  color: #656565;
  transition: all .5s; }
  body.inverse {
    color: #d2d2d2; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-transform: uppercase; }

h4 {
  color: #484848;
  font-weight: 900;
  font-size: 1.1875rem;
  margin-bottom: 0.875rem; }

.wrapper.inverse {
  background-color: #333; }
  .wrapper.inverse h1, .wrapper.inverse h2, .wrapper.inverse h3, .wrapper.inverse h4, .wrapper.inverse h5, .wrapper.inverse h6 {
    color: #fff; }
  .wrapper.inverse p {
    color: #d2d2d2; }

img {
  max-width: 100%; }

.container {
  margin: 0 auto;
  padding-bottom: 4.6875rem;
  max-width: 73.125rem; }

.center-content {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%; }

.row {
  margin: 5rem 0; }

.circle {
  border: none;
  border-radius: 50%; }

p {
  line-height: 2.0625rem; }

/*==========  Buttons ===================*/
.button {
  padding: 1.0625rem 1.5625rem 0.875rem 1.5625rem;
  background: #3f8dbf;
  border-radius: 0.3125rem;
  border-bottom: 0.25rem solid #3678a3;
  text-decoration: none;
  color: #fff;
  font-size: 1.0625rem;
  text-transform: uppercase;
  float: left;
  transition: all .4s;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .button:hover, .button:focus {
    background: #65a4cc;
    border-bottom: 0.25rem solid #4993c3; }
  .button:before {
    content: "\0000a0";
    display: inline-block;
    height: 1.25rem;
    width: 1.5rem;
    background: url(../images/mail-white.png) no-repeat;
    line-height: 1.25rem;
    margin: 0 0.25rem -0.375rem -0.25rem;
    position: relative;
    top: 0;
    left: -0.4375rem;
    background-size: 100% 100%; }

.cta.center-content > .button {
  position: relative;
  left: 45.5625%; }

/*========== Icons =====================*/
.icon {
  content: '\0000a0';
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  line-height: 0.625rem;
  margin: 0 0.625rem 0 0; }
  .icon.map {
    background: url(../images/map-icon.png) no-repeat center; }
  .icon.letter {
    background: url(../images/letter-icon.png) no-repeat center; }
  .icon.phone {
    background: url(../images/phone-icon.png) no-repeat center; }

ul.social {
  list-style: none;
  margin: 1.6875rem auto;
  display: table;
  padding: 0;
  position: relative; }
  ul.social a {
    text-decoration: none; }
    ul.social a li {
      display: inline-block;
      vertical-align: middle;
      width: 3.125rem;
      height: 3.125rem;
      margin-left: 0.3125rem;
      text-align: center;
      transition: all .2s; }
      ul.social a li:hover {
        background: #7e7e7e;
        transform: translateY(-0.3125rem); }
      ul.social a li img {
        border: none;
        margin: 0 auto;
        max-width: 1.5625rem;
        margin-top: 23%;
        display: inline-block; }

/*==========  Non-Mobile First Method  ======*/
.divider {
  background: #1abc9c;
  height: 5.625rem;
  color: #fff;
  position: relative; }
  .divider h3 {
    font-weight: 900;
    font-size: 1.5625rem;
    line-height: 5.5rem; }
  .divider:after {
    content: '\25BC';
    position: absolute;
    bottom: -0.875rem;
    left: 15%;
    color: #1abc9c; }

.main-nav {
  max-height: 5.625rem;
  line-height: 3rem;
  border-bottom: 0.25rem solid #7f7f7f;
  transition: all 1s; }
  .main-nav.sticky {
    transition: all 1s;
    background: rgba(20, 20, 20, 0.9);
    max-height: 5.625rem; }
  .main-nav span.logo {
    max-width: 6.25rem;
    float: left;
    padding-top: 1.5625rem; }
  .main-nav span.nav-toggle {
    float: right;
    text-align: right; }
  .main-nav ul {
    list-style: none;
    float: right;
    text-align: right;
    font-size: 0.8125rem; }
    .main-nav ul li {
      display: inline;
      padding-left: 2.8125rem;
      text-transform: uppercase; }
      .main-nav ul li a {
        text-decoration: none;
        color: #c5c5c5;
        font-weight: 900;
        transition: all .4s; }
        .main-nav ul li a:hover, .main-nav ul li a.selected {
          color: #1abb9c; }

.main-header {
  min-height: 43.75rem;
  background: #8f8f8f;
  color: #fff; }
  .main-header h1, .main-header h2, .main-header ul li {
    background: #646464; }
  .main-header h1 {
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 0.625rem;
    display: inline-block;
    padding: 0 1.875rem;
    margin-top: 12.5rem;
    line-height: 7.5rem; }
  .main-header h2 {
    margin: 0 auto;
    height: 5.625rem;
    font-weight: 300;
    font-size: 3.125rem;
    width: 43.75rem;
    padding: 0 1.5rem;
    line-height: 5.625rem; }

.wrapper > .container > .section.group {
  padding-top: 4.6875rem; }
  .wrapper > .container > .section.group img {
    max-width: 100%; }
  .wrapper > .container > .section.group #about-copy {
    margin-left: -5%; }
    .wrapper > .container > .section.group #about-copy > p.lead {
      margin-top: 2.8125rem;
      font-weight: 300;
      font-size: 1.375rem;
      color: #484848;
      line-height: 2.1875rem; }

.slider {
  padding: 0 0.625rem;
  overflow: hidden; }
  .slider:first-child, .slider:last-child {
    padding: 0; }
  .slider:last-of-type {
    padding-bottom: 5rem; }
  .slider .slick-slide {
    margin-right: 0.625rem; }

.blog-roll {
  background: #f0f0f0;
  padding-top: 5rem; }
  .blog-roll .article {
    width: 48.2906%;
    background: #fff;
    border-bottom: 4px solid #e4e4e4; }
    .blog-roll .article.span_6_of_12:nth-child(2n+3) {
      margin-left: 0; }
    .blog-roll .article .meta {
      margin-top: -0.125rem;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      background: #f9f9f9;
      color: #9f9f9f;
      width: 100%;
      font-weight: 900;
      font-size: 0.8125rem; }
      .blog-roll .article .meta p {
        line-height: 0;
        margin: 0 0 0 1.25rem;
        float: left;
        text-transform: uppercase; }
      .blog-roll .article .meta span {
        margin: 0 1.25rem 0 0;
        line-height: 0;
        float: right;
        position: relative; }
        .blog-roll .article .meta span:after {
          content: '\0000a0';
          width: 0.75rem;
          height: 0.625rem;
          position: relative;
          right: -0.4375rem;
          background: url(../images/heart.png) no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          line-height: 0.625rem; }
    .blog-roll .article .exerpt-wrap {
      margin-left: 1.5625rem;
      margin-right: 1.5625rem; }
      .blog-roll .article .exerpt-wrap p.lead {
        font-weight: 900;
        color: #5c5c5c;
        font-size: 1.125rem; }

.contact-info {
  background: url(../images/contact-bg.jpg) no-repeat center center;
  background-size: 100% 100%; }
  .contact-info .contact-form label span {
    padding: 0;
    margin: 0;
    position: relative;
    color: #a1a1a1;
    text-transform: uppercase;
    left: 0.625rem;
    top: 2.125rem; }
  .contact-info .contact-form input, .contact-info .contact-form textarea {
    width: 100%;
    margin-bottom: 1.25rem;
    border: 0;
    background: rgba(255, 255, 255, 0.11);
    text-indent: 0.625rem;
    color: white; }
    .contact-info .contact-form input:focus, .contact-info .contact-form textarea:focus {
      outline-color: #1abb9c; }
  .contact-info .contact-form input[type=text] {
    height: 3.125rem; }
  .contact-info .contact-form textarea {
    min-height: 13.125rem;
    padding-top: 1.0625rem; }
  .contact-info .contact-details {
    margin-top: 6%; }
  .contact-info .contact-details ul {
    list-style: none;
    padding-left: 0; }
    .contact-info .contact-details ul li {
      padding-bottom: 1rem; }
      .contact-info .contact-details ul li:last-of-type {
        padding-bottom: 0; }

.copyright {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 66.75rem) {
  .wrapper {
    padding: 0 1.25rem; }

  .wrapper > .container > .section.group #about-copy {
    margin-left: 0; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 50.625rem) {
  .main-nav ul.collapse {
    transition: all .4s; }
  .main-nav ul.collapse {
    opacity: 0;
    visibility: none;
    top: -50rem;
    transition: all .4s; }
  .main-nav ul {
    visibility: visible;
    opacity: 1;
    clear: both;
    position: absolute;
    top: 4.2675rem;
    z-index: 1;
    left: -2.5rem;
    overflow: overlay;
    transition: all .4s; }
    .main-nav ul li {
      background: rgba(20, 20, 20, 0.95);
      display: block;
      position: relative;
      width: 100vw;
      float: left;
      font-size: 5rem;
      padding: 1.25rem 0;
      text-align: center; }
  .main-nav .nav-toggle {
    margin-top: 1.5%;
    display: inline-block; } }
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
